<?xml version="1.0" encoding="utf-8"?>
<!-- Konfigurační soubor pro NuGet balíčky 
     MUSÍ BÝT ve stejném adresáři jako soubor řešení. -->
<configuration>

  <!-- Nastaví cestu na složku, kam se mají balíčky nainstalovat -->
  <settings>
    <repositoryPath>./packages</repositoryPath>
  </settings>
  
  <packageRestore>
    <!-- Umožní stahovat chybějící balíčky -->
    <add key="enabled" value="True" />
    <!-- Automaticky testuje zda nechybí nějaký balíček -->
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <add key="nuget.org" value="https://nuget.org/api/v3/index.json" enabled="True"/>
  </packageSources>
  
</configuration>

